<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
  
    <script>
      function onOnlyWinnersPressed() {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('winners', (urlParams.get('winners') == "false"));
        window.location.search = urlParams;
      }
    </script>
  </head>
  <body>
    <nav>
      <img src="/logo.png"/>
      <a href="https://github.com/deepsea-dev/postdev">
        <img class="github" src="/github.png"/>
      </a>
    </nav>
    
    <div class="explore">
      <span>Explore projects from Portfolios and hackathons</span>
      <span class="filter">
        <label for="winners">only winners</label>
        <input type="button" class="{{ 'checked' if onlyWinners }}" id="winners" onclick="onOnlyWinnersPressed()">
      </span>
    </div>

    <div class="projects">
      {% for project in projects %}
        <div>
          {% if project.winner %}
            <div class="winner-banner">
              <img src="{{ url_for('static', filename='winner.png') }}"/>
            </div>
          {% endif %}
          <div class="project">
            <div class="project-image"></div>
            <div class="project-caption">
              <div class="project-header">{{ project.title }}</div>
              <div class="project-tagline">{{ project.tagline }}</div>
            </div>
            <div class="project-footer">
              <div><span class="material-icons icon">favorite</span> {{ project.likes }}</div>
              <div><span class="material-icons icon">chat</span> {{ project.comments }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>