body {
  margin: 0;
  background-color: #32302f;
  color: white;
  font-family: 'Raleway', sans-serif;
}

nav {
  display: flex;
  background-color: #242325;
  padding: 0 32px;
  align-content: center;
  justify-content: space-between;
}

nav > img {
  height: 36px;
  margin: 24px 0;
}

.github {
  height: 36px;
  margin: 24px;
  filter: invert(50%);
}

.github:hover {
  filter: invert(100%);
}

.explore {
  background-color: #d65d0e;
  color: white;
  font-size: 32px;
  padding: 32px;
  font-weight: 700;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-around;
  column-gap: 16px;
  row-gap: 24px;
  margin: auto;
  margin-top: 32px;
}

.project {
  background-color: #bdae93;
  border: 2px solid gray ;
  width: 235px;
  border-radius: 8px;
}

.project-image {
  height: 156px;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
}

.project-caption {
  padding: 11px 12px;
}

.project-header {
  font-weight: 800;
  font-size: large;
}

.project-tagline {
  height: 2.8em;
  overflow: hidden;
}

.project-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#fbf1c7;
  height: 40px;
  border-radius: 8px;
  color: #928374;
}

.project-footer > div {
  display: flex;
  column-gap: 8px;
}

.winner-banner {
  position: relative;
}

.winner-banner > img {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
}