body {
  background-color: antiquewhite;
  margin: 0;
}

nav {
  background-color: white;
  width: auto;
  height: 62px;
  font-size: 40px;
  padding: 0 16px;
}

.explore {
  background-color: #003e54;
  color: white;
  font-size: 32px;
  padding: 32px;
  font-weight: 700;
}