<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <nav>
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}"/>
    </nav>
    
    <div class="explore">
      Explore projects from Portfolios and hackathons
    </div>

    <div class="projects">
      {% for project in projects %}
        <div>
          {% if project.winner %}
            <div class="winner-banner">
              <img src="{{ url_for('static', filename='winner.png') }}"/>
            </div>
          {% endif %}
          <div class="project">
            <div class="project-image"></div>
            <div class="project-caption">
              <div class="project-header">{{ project.title }}</div>
              <div class="project-tagline">{{ project.tagline }}</div>
            </div>
            <div class="project-footer">
              <div><span class="material-icons icon">favorite</span> {{ project.likes }}</div>
              <div><span class="material-icons icon">chat</span> {{ project.comments }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>