<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav>
      PostDev
    </nav>
    
    <div class="explore">
      Explore projects from Portfolios and hackathons
    </div>

    <div class="projects">
      <div class="project">
        <div class="project-image"></div>
        <div class="project-caption">
          <div class="project-header">Octocatch</div>
          <div class="project-tagline">collect falling items at the bottom of the ocean as an octopus </div>
        </div>
      </div>
    </div>
  </body>
</html>